
    <h1>¡Bienvenido/a a MiTerra.com!</h1>
    <p>Te invitamos a participar del proyecto <a href="www.miterra.com">MiTerra.com</a>. Buscamos generar la mayor base de datos actualizada de propiedades inmobiliarios en el Paraguay.</p>
    <p>
    Deseamos facilitar y mejorar tu experiencia de compra, venta o alquiler de propiedades.</p>
    <p>
    Estamos para servirle y esperamos  contar  con su participación activa aportando a esta red de información que lo ayudara a realizar buenas inversiones.</p>
    <p>
    Esperamos y deseamos poder cumplir con sus expectativas de calidad y satisfacción, ya que es nuestra única y verdadera filosofía de trabajo.</p>
    <p>
    Un cordial saludo.</p>
    <p>
    El equipo de Miterra.com
    </p>


