<div class="container new-listing no-styler">
  <div class="padding-block">
    <%= render :partial => "steps", locals: {step: 1} %>
    <div id="form-container">
      <%= render 'listings/form' %>
    </div>
  </div>
</div>