<!-- search-block -->
   <div class="search-block">
     <div class="row">
       <div class="col-md-6 col-sm-12">
         <div class="wrap">
           <p>
             <span class="sprites i-search"></span>
             <input type="text" placeholder="Address, Neighborhood, or ZIP">
           </p>
         </div>
       </div>
       <div class="col-md-6 col-sm-12 text-center">
         <a href="#">My Homes</a>
         <a href="#">My Searches</a>
       </div>
     </div>
   </div>
   <!-- /search-block -->