<div class="modal fade" id="shareThis">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%=h title %></h4>
      </div>
      <div class="modal-body">
        <p>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_pinterest_large' displayText='Pinterest'></span>
          <span class='st_linkedin_large' displayText='LinkedIn'></span>
          <span class='st_googleplus_large' displayText='Google +'></span>
          <span class='st_email_large' displayText='Email'></span>
        </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

