<% posts.each do |post| %>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="fb-post" data-href="<%= post.title %>" data-widt="100%" data-show-text="true"></div>
        <hr>
      </div>
    </div>
<% end %>