<div class="container info-container">
  <div class="info-content">
    <h1 class="info-principal-title">How to use MiTerra.com?</h1>
    <h1 class="info-title">Buy and/or rent with Miterra.com</h1>
    <p>
      MiTerra.com is web app that works to simplify and optimize your search for real estate. It offers the greatest variety of properties in the country by constantly updating prices and managing the data of the properties sold in the areas for your reference.
    </p>
    <p>
      With maps and detailed information of the property you can know more about it to decide on the best option, also have a financial calculator to see how much your fee would be in case of using bank financing.
    </p>
    <p>
      It has options where it shows properties that could be of interest to you and tracks new ones that may interest you every month. Another benefit of this portal is that it has a news bulletin where there are new developments in the national and international real estate market.
    </p>
    <p>
      Registering as a user with your email or with your facebook you can have access to more information and applications of the page.
    </p>
    <h1 class="info-title">It free publish</h1>
    <p>
      It is a free web app for real estate companies, developers, real estate brokers or anyone who wants to sell their property.
    </p>
    <p>
      The goal of MiTerra.com is to centralize all information of properties for sale or sold in our country on one page. It is a very dynamic and orderly option for the search of customers.
    </p>
    <p>
      It is easy to upload the property to the portal, you just have to create a profile, fill out a questionnaire of the property to be uploaded and add some photos. In your profile you must provide all the information to the client so that you can instantly communicate by phone or email.
    </p>
    <p>
      Your profile would be like your cover letter showing all the properties you are bidding on and even the properties you have already sold. It can also serve to attract brokerage clients who give their property for sale.
    </p>
  </div>
</div>
