<div class="container info-container">
  <div class="info-content">

    <h1 class="info-principal-title">GENERAL TERMS AND CONDITIONS</h1>
    <p>
      This agreement describes the terms and conditions (in later "Terms and conditions") applicable to the use of the services and content available under the domain http://www.miterra.com (on the website), any person who does not accept these terms and conditions <strong>ANY PERSON WHO DO NOT ACCEPT THESE GENERAL CONDITIONS AND TERMAS, WHICH HAVE MANDATORY AND BINDING, MUST REFRAIN FROM USING THE SITE OR SERVICES</strong>. Access to this web site and the information contained in it, viewing involves outright acceptance of these "terms and conditions", which means that they have been read, understood, and accepted prior to use.
    </p>
    <p>
      RECTORA S.A.E. (in hereafter the company) is the owner and responsible for the database of MiTerra.com, located on route Transchaco km. 13.5, city of Mariano Roque Alonso, Paraguay.
    </p>

    <h2 class="info-title">MODIFICATION OF TERMS AND CONDITIONS</h1>
    <p>
      The "terms and conditions" may be modified in whole or in part only by the holder of the service, at any time and without prior notice and such changes and deployments will be effective from the moment they are published or inserted in the site or that are notified to the user by any means, whichever comes first. 
    </p>

    <h2 class="info-title">THE VISITOR BEHAVIOR</h1>
    <p>
      The visitor undertakes to use the website, its services and contents in a whole according to the applicable legislation, good faith and public order. Therefore all use illegal purposes is prohibited or that it impairs or prevents, can damage or overloading, in any case, the use and operation of the web site or directly or indirectly attempt against the same or any rights of a third party.
    </p>

    <h2 class="info-title">INTELLECTUAL PROPERTY</h1>
    <p>
      The contents of the website are intended solely for the inquiry by the visitors of the same. The total or partial reproduction by any means, as thus the translation or dissemination of the content of www.miterra.com is forbidden, unless it is made express mention of the source and the author of the content if appropriate, and is only granted authorisation, for which do not belong to the public domain, to read them from the web site. Reserve all intellectual property rights enshrined by law 1328/98 and international treaties, laws and decrees consistent, with the exception of those expressly granted to third parties is done. You are not permitted to copy, distribute, publish or store any of the content that contains the web site that do not belong to the public domain. Who violated the rights which are reserved for the present, will be legally sued in terms of the 1328/98 law and international treaties, laws and decrees consistent. Links contained in the web site and the contents thereof, are the property of their authors and do not constitute, under any view, a recommendation or suggestion, or can be considered advice.
    </p>

    <h2 class="info-title">LINKS</h1>
    <p>
     The link to this web site, is forbidden in total or partially, without express permission of the owner thereof, as well as its incorporation in commercial databases. The web site includes within its contents, links to sites owned and/or managed by third parties in order to facilitate access to information available through the Internet. The owner of this web site assumes no responsibility arising from the existence of links between the contents of this and contents located outside of the same or any other mention of external content to this; your link/link does not share the views reflected therein and respects the intellectual property rights that the authors may possess.
    </p>

    <h2 class="info-title">PRIVACY POLICY</h1>
    <p>
      The owner of this website has adopted reasonably effective personal data protection security levels, and has installed all the means and technical reach and available in the industry measures to prevent the loss, misuse, alteration, unauthorized access and theft of the personal data. Nevertheless, visitors should be aware that Internet security measures are not infallible, nor the protection is absolute. The personal data of the visitors to be obtained as a result of your access to this web site shall be subject to the <a href="/privacy"> Privacy policy</a>.
    </p>

    <h2 class="info-title">RESPONSIBILITY</h1>
    <p>
      The company lets hereby stated not liable: 

      <ul>
        <li><span class="enum"></span>
          For the veracity, inaccuracy, misrepresentation, distortion or simulation of data in the information and/or images referred publications real estate, neighbourhoods, phones, location of buildings which were supplied by those they advertise on our website, either that our team of editors could make based on the data that are provided not by the company in any way on these publications.
        </li>
        <li><span class="enum"></span>
          By the real estate operations which may be carried out because of the publications that are seen on the site, being the inmobiliario.com only a place of advertising. Said this leaves express record that the company does not intervene in any way about the operations, not charging percentage or Commission on such transactions.
        </li>
        <li><span class="enum"></span>
          Damage caused by viruses, malicious or damaging programmes in the contents and/or any other agent that may infect or affect in any way the computer system used by the visitor.
        </li>
        <li><span class="enum"></span>
          The lack of availability, continuity, access, and effective functioning of the website and/or its services or update, accuracy, completeness, relevance, topicality and reliability of its contents, regardless of the cause, and the difficulties or problems technical or otherwise where such facts have their origin.
        </li>
        <li><span class="enum"></span>
          The destination that is given to the information or data contained on this web site or contained in sites that are accessed through links set forth herein; as well nor the decisions or conclusions that the receiver arrives, being adopted them at its sole discretion, risk and responsibility.
        </li>
        <li><span class="enum"></span>
          <strong>IMPORTANT CLARIFICATION:</strong> Prices and information contained in the properties published in http://www.miterra.com and all its subdomains are orientative and approximate. Therefore, the company is not responsible for differences or modifications that may exist between them and reality, or for the truthfulness, accuracy, quality and correction of that information, which is poured exclusively by the customer who publishes them, without having the company no intervention therein, beyond to the publication on the website based on the information provided by the customer. Notwithstanding this, the information may contain errors and/or be outdated so the prices and availabilities do not represent offer and should not be interpreted in that sense; to know availability and price of products and services published should contact the real estate, construction or marketer to publishing it through the contact form.
        </li>
      </ul>
    </p>
    <p>
      The previous enumeration has mere character but not limited and, in any case, exclusive or exclusionary in any of its points.
    </p>

    <h2 class="info-title">WARRANTIES</h1>
    <p>
      MiTerra does not warrant any good or service offered or published on this web site, its providers or marketers assume total responsibility for any damages that might derive from them.
    </p>

    <h2 class="info-title">INDEMNITY</h1>
    <p>
     The visitor agrees to hold harmless the owner of the web site, officers, directors and employees, including reasonable attorney's fees, against any claims by third parties based on your use of this web site and/or its content or violation of these terms and conditions.
    </p>

    <h2 class="info-title">INTEGRITY</h1>
    <p>
      In the event that any part of these terms and conditions is declared invalid, the rest of its parts remain fully valid and effective. In all cases that this is possible, the holder of the service reserves the right to integrate and interpret the parties not declared invalid by the said authority.
    </p>

    <h2 class="info-title">JURISDICTION AND APPLICABLE LAW</h1>
    <p>
      This "Terms of use and conditions" document is subject in all respects by the laws of the Republic of Paraguay.
    </p>
    <p>
      Any dispute under this agreement, its existence, validity, interpretation, scope or compliance, will be submitted to the ordinary courts of the city of Asunción, users expressly any other jurisdiction or jurisdiction that may correspond to them.
    </p>
    <p>
      It is fixed as domicile of MiTerra.com (RECTORA S.A.E.) in the Transchaco road, Km 13.5 of the city of Mariano Roque Alonso, Paraguay Republic.
    </p>
    <p>
      If you have any questions about the terms and conditions or other policies and principles governing the use of the site, send your inquiry to the following email address: info@miterra.com.py
    </p>

    <h2 class="info-title">CONSULTATIONS</h1>
    <p>
     If you have questions you can contact our offices on the phone + 595 213384601/02 from Monday to Friday from 08:00 to 18:00 hs. and Saturday from 08:00 to 12:00 pm. or by email to info@miterra.com.py.
    </p>

    <h2 class="info-title">COPYRIGHT</h1>
    <p>
     All of the information, web design, data, etc. on this site are protected by rights of copyright and intellectual property of its owner. All rights are reserved by the owner of this domain.
    </p>
    <p>
      Prohibited the total or partial reproduction by any means, whether printed, electronic or of any type, except prior authorization of the owner of this domain.
    </p>
  </div>
</div>