<div class="container info-container">
  <div class="info-content">
    <h1 class="info-principal-title">¿Cómo utilizar MiTerra.com?</h1>

    <h2 class="info-title">Compre y/o alquile con MiTerra.com</h1>
    <p>
      MiTerra.com es un portal digital que funciona para simplificar y optimizar su búsqueda de propiedades inmobiliarias. Ofrece la mayor variedad de propiedades en el país actualizando constantemente los precios y manejando los datos de las propiedades vendidas en las zonas para su referencia.
    </p>
    <p>
      Con mapas e información detallada de la propiedad  puede conocer más a fondo sobre la misma para decidir sobre la mejor opción, además posee una calculadora financiera para ver cuánto saldría su cuota en caso de utilizar financiación bancaria.
    </p>
    <p>
      Cuenta con opciones donde muestra propiedades que podrían ser de su interés y rastrea nuevas, que puedan interesarle cada mes. Otro beneficio de este portal es que posee un noticiero donde hay novedades del mercado inmobiliario nacional e internacional.
    </p>
    <p>
      Registrándose como usuario con tu correo electrónico o con tu Facebook podes tener acceso a más información y aplicaciones de la página.
    </p>

    <h2 class="info-title">Publica Gratis</h1>
    <p>
      Es un portal digital gratuito para las empresas inmobiliarias, desarrolladoras, corredores inmobiliarios o cualquier persona que desea vender su propiedad.
    </p>
    <p>
      El objetivo de MiTerra.com es centralizar toda la información de propiedades para la venta o vendidas en nuestro país en una página. Es una opción muy dinámica y ordenada para la búsqueda de los clientes.
    </p>
    <p>
      Es fácil de subir la propiedad al portal, solo tienes que crear un perfil, llenar un cuestionario de la propiedad a ser subida y agregar algunas fotos. En tu perfil debes proveer de toda la información al cliente de manera que al instante pueda comunicarse por teléfono o por correo electrónico.
    </p>
    <p>
      Su perfil seria como su carta de presentación donde aparecen todas las propiedades que este ofertando e incluso las propiedades que ya ha vendido. También puede servir para atraer clientes de intermediación que den su propiedad para la venta.
    </p>
  </div>
</div>