<div class="container info-container">
  <div class="info-content">

    <h1 class="info-principal-title">TÉRMINOS Y CONDICIONES GENERALES</h1>
    <p>
      Este contrato describe los términos y condiciones generales (en adelante "Términos y Condiciones ") aplicables al uso de los servicios y contenidos disponibles bajo el dominio http://www.miterra.com (en adelante el sitio web), <strong>CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS</strong>.El acceso a este sitio web y la visualización de la información contenida en él, implica la aceptación lisa y llana de estos "Términos y Condiciones", los que se entiende que han sido leídos, entendidos y aceptados con carácter previo a su utilización.
    </p>
    <p>
      RECTORA S.A.E. (en adelante la empresa) es el titular y responsable de la base de datos de MiTerra.com, localizada en Ruta Transchaco Km. 13.5, ciudad de Mariano Roque Alonso, Paraguay.
    </p>

    <h2 class="info-title">MODIFICACIÓN DE LOS TÉRMINOS Y CONDICIONES</h1>
    <p>
      Los "Términos y Condiciones" podrán ser modificados en todo o en parte únicamente por el Titular del Servicio, en cualquier momento y sin previo aviso y dichos cambios e implementaciones tendrán vigencia a partir del momento mismo en que sean publicados o insertados en el Sitio o desde que sean notificados al Usuario por cualquier medio, lo que ocurra primero. 
    </p>

    <h2 class="info-title">COMPORTAMIENTO DEL VISITANTE</h1>
    <p>
      El visitante se compromete a utilizar el Sitio web, sus servicios y contenidos en un todo de acuerdo con la legislación aplicable, la buena fe y el orden público. Por ello, queda prohibido todo uso con fines ilícitos o que perjudique o impida, pueda dañar y/o sobrecargar, de cualquier forma, la utilización y normal funcionamiento del Sitio web o directa o indirectamente atente contra el mismo o contra cualquier derecho de un tercero.
    </p>

    <h2 class="info-title">PROPIEDAD INTELECTUAL</h1>
    <p>
      Los contenidos del Sitio web están destinados exclusivamente a la consulta por parte de los visitantes del mismo. La reproducción total o parcial por cualquier medio, como así la traducción o difusión de los contenidos de www.miterra.com queda prohibida, salvo que se realice expresa mención de la fuente y el autor de los contenidos si correspondiere y sólo se concede autorización, respecto de los que no pertenezcan al dominio público, para leerlos desde el Sitio web. Se hace reserva de todos los derechos de propiedad intelectual consagrados por la ley 1328/98 y tratados internacionales, leyes y decretos concordantes, con excepción de los expresamente otorgados a terceros. No se permite copiar, distribuir, publicar ni almacenar ninguno de los contenidos que contenga el Sitio web que no pertenezcan al dominio público. Quien infringiere los derechos que se reservan por la presente, será demandado judicialmente en términos de la Ley 1328/98 y tratados internacionales, leyes y decretos concordantes. Los enlaces contenidos en el Sitio web y el contenido de los mismos, son propiedad de sus autores y no constituyen, bajo ningún punto de vista, una recomendación o sugerencia, ni pueden ser considerados asesoramiento.
    </p>

    <h2 class="info-title">LINKS</h1>
    <p>
     Se prohíbe el enlace a este Sitio web, de manera total o parcial, sin expresa autorización del titular del mismo, así como su incorporación en bases de datos comerciales. El Sitio web incluye dentro de sus contenidos, enlaces con sitios pertenecientes y/o gestionados por terceros con el objeto de facilitar el acceso a información disponible a través de Internet. El titular de este sitio web no asume ninguna responsabilidad derivada de la existencia de enlaces entre los contenidos de este y contenidos situados fuera del mismo o de cualquier otra mención de contenidos externos a este; su vínculo/enlace no implica compartir las opiniones reflejadas en las mismas y respeta los derechos de propiedad intelectual que sus autores puedan poseer.
    </p>

    <h2 class="info-title">POLÍTICA DE PRIVACIDAD</h1>
    <p>
     El titular de este Sitio web ha adoptado niveles de seguridad de protección de los datos personales razonablemente eficaces, y ha instalado todos los medios y medidas técnicas a su alcance y disponibles en la industria para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales. Ello no obstante, los visitantes deben ser conscientes de que las medidas de seguridad en Internet no son inexpugnables, ni la protección es absoluta. Los datos personales de los visitantes que se obtengan como consecuencia de su acceso a este Sitio web estarán sujetos a la <a href="/privacy">Política de Privacidad</a>.
    </p>

    <h2 class="info-title">RESPONSABILIDAD</h1>
    <p>
      La empresa deja expresa constancia que no se responsabilizará: 

      <ul>
        <li><span class="enum"></span>
          Por la veracidad, inexactitud, falsedad, distorsión o simulación de los datos en la información y/o imágenes referidos las publicaciones de los inmuebles, barrios, teléfonos, ubicación de inmuebles que fueran suministradas por quienes publicitan en nuestro sitio web, o bien que nuestro equipo de editores pudiera confeccionar en base a los datos que le sean proporcionados, no interviniendo la empresa en modo alguno sobre dichas publicaciones.
        </li>
        <li><span class="enum"></span>
          Por la operaciones inmobiliarias que pudieran efectuarse en razón de las publicaciones que se observan en el sitio, por ser el inmobiliario.com únicamente un sitio de publicidad. Dicho esto se deja expresa constancia que la empresa no interviene en modo alguno sobre la eventuales operaciones, no cobrando porcentual o comisión sobre dichas transacciones.
        </li>
        <li><span class="enum"></span>
          Daños ocasionados por virus, programas maliciosos o lesivos en los contenidos y/o cualquier otro agente que pueda llegar a infectar o afectar de cualquier modo el/los sistema de computación utilizado por el visitante.
        </li>
        <li><span class="enum"></span>
          La falta de disponibilidad, continuidad, acceso, y efectivo funcionamiento del Sitio web y/o de sus servicios y/o actualización, exactitud, exhaustividad, pertinencia, actualidad y fiabilidad de sus contenidos, cualquiera sea la causa, y las dificultades o problemas técnicos o de otra naturaleza en los que tengan su origen dichos hechos.
        </li>
        <li><span class="enum"></span>
          El destino que se le otorgue a la información y/o datos contenidos en este Sitio web o a aquellos consignados en los sitios a los que se acceda a través de los links establecidos en el presente; como así tampoco por las decisiones y/o conclusiones a las que el receptor arribe, siendo las mismas adoptadas a su solo criterio, riesgo y responsabilidad.
        </li>
        <li><span class="enum"></span>
          <strong>ACLARACIÓN IMPORTANTE:</strong> Los precios y la información contenida en las propiedades publicadas en http://www.miterra.com y todos sus subdominios son orientativos y aproximados. Por ello, LA EMPRESA no se responsabiliza por las diferencias y/o modificaciones que puedan existir entre ellos y la realidad, ni por la veracidad, exactitud, calidad y corrección de esa información, la cual es vertida exclusivamente por el cliente que los publica, no teniendo LA EMPRESA ninguna intervención en ello, más allá que la publicación en el sitio en base a la información que le brinda el cliente. Sin perjuicio de ello, la información puede contener errores y/o estar desactualizada por lo que los precios y disponibilidades no representan oferta y no deben interpretarse en ese sentido; para conocer la disponibilidad y precio de los productos y servicios publicados debe contactarse con la inmobiliaria, constructora o comercializadora que lo publica a través del formulario de contacto. 
        </li>
      </ul>
    </p>
    <p>
      La enumeración anterior tiene mero carácter enunciativo y, en ningún caso, exclusivo ni excluyente en ninguno de sus puntos.
    </p>

    <h2 class="info-title">GARANTÍAS</h1>
    <p>
     MiTerra no garantiza, ningún bien ni servicio ofrecido o publicado en este sitio web, sus prestadores o comercializadores asumen la responsabilidad total sobre cualquier daño que de ellos pudiera derivar.
    </p>

    <h2 class="info-title">INDEMNIDAD</h1>
    <p>
     El visitante se compromete a mantener indemne al titular del Sitio web, funcionarios, directores y empleados, incluyendo honorarios razonables de abogados, frente a cualquier reclamo de terceros basado en su utilización de este Sitio web y/o de sus contenidos o por violación a estos términos y condiciones.
    </p>

    <h2 class="info-title">INTEGRIDAD</h1>
    <p>
     En caso de que cualquier parte de los presentes Términos y Condiciones Generales sea declarada inválida, el resto de sus partes mantendrán plena validez y vigencia. En todos los casos que ello sea posible, el Titular del Servicio se reserva el derecho de integrar e interpretar las partes no declaradas inválidas por dicha autoridad. 
    </p>

    <h2 class="info-title">JURISDICCIÓN Y LEY APLICABLE</h1>
    <p>
     El presente documento de "Términos de Uso y Condiciones" se encuentra sujeto en todos sus puntos por las leyes vigentes en la República del Paraguay.
    </p>
    <p>
      Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a los Tribunales Ordinarios de la Ciudad de Asunción, renunciando expresamente los Usuarios a cualquier otro fuero o jurisdicción que les pudiere corresponder. 
    </p>
    <p>
      Se fija como domicilio de MiTerra.com (RECTORA S.A.E.) en la Ruta Transchaco, Km 13,5 de la Ciudad de Mariano Roque Alonso, República del Paraguay. 
    </p>
    <p>
      Si tiene alguna duda sobre los Términos y Condiciones Generales o demás políticas y principios que rigen el uso del Sitio envíe su consulta al siguiente correo electrónico: info@miterra.com.py
    </p>

    <h2 class="info-title">CONSULTAS</h1>
    <p>
     Ante cualquier duda puede contactar con nuestras oficinas en el teléfono +595 213384601/02 de Lunes a Viernes de 08:00 a 18:00 hs. y Sábados de 08:00 a 12:00 hs. o por correo electrónico a info@miterra.com.py.
    </p>

    <h2 class="info-title">COPYRIGHT</h1>
    <p>
     La totalidad de la información, diseño web, datos, etc. contenidos en este sitio están protegidos por los derechos de copyright y propiedad intelectual de su titular. Todos los derechos están reservados por el titular de este dominio.
    </p>
    <p>
      Queda prohibida la reproducción total o parcial por cualquier medio, ya sea impreso, electrónico o de cualquier tipo, excepto previa autorización del titular de este dominio.
    </p>
  </div>
</div>